<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>多简历-简历详情</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Keywords" content="多简历,免费简历,人才库,简历库">
    <meta name="Description" content="多简历是全国最大的一站式招聘服务平台，10万+企业用户的共同选择。千万级优质的全网简历搜索、应用大数据智能简历推送、精准的职位发布、高效的云端管理系统，让多简历成为企业与人才之间沟通的桥梁。">
    <link rel="shortcut icon" href="../img/common/logo.ico">
    <link rel="stylesheet" href="../js/lib/element/element.min.css">
    <link rel="stylesheet" href="../css/common/base.css">
    <link rel="stylesheet" href="../css/controller/detail.css">
    <script type="text/javascript" src="../js/require-config.js" defer="true"></script>
    <script data-main="../js/controller/detail.js" src="../js/lib/require/require.min.js" defer="true"></script>
</head> 
<body>
<div id="app">
	<!--简历详情-->
    <detail-tem ref="detail_tem"></detail-tem>
    
    <!--确认框-->
    <dia-confirm ref="dia_confirm"></dia-confirm>
    
    <!--面试邀约-->
    <!--<dia-invitation ref="dia_invitation"></dia-invitation>-->
    
    <!--支付弹框-->
    <dia-payment ref="dia_payment"></dia-payment>
    
    <!--下载弹框-->
    <dia-download ref="dia_download"></dia-download>
    
    <!--添加备注-->
    <!--<dia-remarks ref="dia_remarks"></dia-remarks>-->
    
    <!--微信分享弹框-->
    <!--<dia-wxcode ref="dia_wxcode"></dia-wxcode>-->
    
    <!--简历动态-->
    <!--<dia-handle ref="dia_handle"></dia-handle>-->
    
    <!--智联面试邀请弹出-->
    <!--<dia-interview-zl ref="dia_interview_zl"></dia-interview-zl>-->
    
    <!--前程面试邀请弹出-->
    <!--<dia-interview-qc ref="dia_interview_qc"></dia-interview-qc>-->
    
</div>
<input type="hidden" id="zlInviSendData" hasPlugin='0' value="">
<input type="hidden" hasPlugin="0" id="getResume" value="" />
<input type="hidden" hasPlugin="0" id="rto" value="" th:value="${token}" />
</body>
</html> 