<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>送简历</title>
    <meta name="keywords" content="送简历,免费简历,人才库,简历库">
    <meta name="description" content="送简历是全国最大的一站式招聘服务平台，10万+企业用户的共同选择。千万级优质的全网简历搜索、应用大数据智能简历推送、精准的职位发布、高效的云端管理系统，让送简历成为企业与人才之间沟通的桥梁。">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, no-siteapp">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="shortcut icon" href="../img/common/logo.ico">
    <link rel="stylesheet" type="text/css" href="/css/common/base.css"/>
    <link rel="stylesheet" type="text/css" href="../css/controller/index.css"/>
</head>
<body>
    <div id="header">
        <div class="hr-wrap-1000">
        	<div class="hr-inline-block">
        		<img src="../img/index/header.png"/>
        	</div>
            <div class="hr-fr">
                <div class="header-user-oper hr-hide nologin hr-vertical-middle-container">
                    <a href="/login/login" class="hr-btn hr-btn-default hr-mr10"><i class="icon-login"></i>登 录</a>
                    <a href="/regist/regist" class="hr-btn hr-btn-green"><i class="icon-user"></i>加入送简历</a>
                </div>
                <div class="header-user-oper hr-hide login hr-vertical-middle-container">
                    <a href="/search/index" class="hr-btn hr-btn-green hr-mr10"><i class="icon-login"></i>简历搜索</a>
                </div>
            </div>

        </div>
    </div>
    <div class="banner">
        <div class="hr-wrap">
            <strong class="text-strong">免费好用的简历共享服务平台</strong>
            <p class="text-p">50000000+优质简历免费提供下载</p>
            <a href="/regist/regist" class="hr-btn hr-btn-green"><i class="icon-user"></i>立即加入送简历</a>
        </div>
    </div>
    <div class="banner-else">
    	<div class="middle hr-wrap-1000 hr-text-right">
    		<img src="../img/index/middle.jpg"/>
    		<div class="float-tip">
    			<img src="../img/index/dot.png" class="dot"/>
    			<img src="../img/index/animate-sz.png" class="sz-bottom"/>
    			<p>关于送简历</p>
    			<div>
    				送简历是在简历共享模式下的免费招聘平台。整合全渠道招聘资源，激活企业及猎头等招聘机构的闲置简历资源，提高存量简历利用率，形成协同共享效应。推进企业提高自己的人力资本效率，最终以企业零成本寻找人才为终级目标。
    			</div>
    		</div>
    	</div>
    	<div class="company-list hr-text-center">
    		<p>50000家有前瞻性的企业都选择了送简历，你还在等什么？</p>
    		<img src="../img/index/company-list.png"/>
    	</div>
	    <div class="list clearfix hr-wrap-1000">
	        <div class="item">
	            <div class="item-head">
	                <img src="../img/index/bottom-1.jpg"/>
	            </div>
	            <div class="item-con">
	                <p><i></i>6000万+ 的简历，给你更靠谱的选择</p>
	                <p><i></i>精确匹配搜索，查看优质人才简历</p>
	                <p><i></i>支持Word、PDF、Excel多格式下载</p>
	            </div>
	        </div>
	        <div class="item">
	            <div class="item-head">
	                <img src="../img/index/bottom-2.jpg"/>
	            </div>
	            <div class="item-con">
	                <p><i></i>简历更新速度全网最快，质量最高</p>
	                <p><i></i>每月超过千万份简历实时更新</p>
	                <p><i></i>无重复简历，简历信息快速预览</p>
	            </div>
	        </div>
	        <div class="item">
	            <div class="item-head">
	                <img src="../img/index/bottom-3.jpg"/>
	            </div>
	            <div class="item-con">
	                <p><i></i>招聘预算只需0元， 全部功能永久免费</p>
	                <p><i></i>免费搜索，查看所有简历</p>
	                <p><i></i>提供更多企业验证渠道，下载更送简历</p>
	            </div>
	        </div>
	    </div>
    </div>

    <div id="footer">
        <div class="hr-wrap">
            <p class="hr-fl footer-text">送简历QQ交流群：403056352，280070569，454834836</p>
            <p class="hr-fr footer-text">服务热线：4006-2828-35（8:30-18:30）</p>
        </div>
    </div>
    <script src="../js/lib/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        function getBrowserVersion(){
            var agent = navigator.userAgent.toLowerCase() ;

            var regStr_ie = /msie [\d.]+;/gi ;
            var regStr_ff = /firefox\/[\d.]+/gi
            var regStr_chrome = /chrome\/[\d.]+/gi ;
            var regStr_saf = /safari\/[\d.]+/gi ;
            //IE
            if(agent.indexOf("msie") > 0){
                return ["msie",(agent.match(regStr_ie)+"").replace(/[^0-9.]/ig,"")] ;
            }
            //firefox
            if(agent.indexOf("firefox") > 0){
                return ["firefox",(agent.match(regStr_ff)+"").replace(/[^0-9.]/ig,"")] ;
            }
            //Chrome
            if(agent.indexOf("chrome") > 0){
                return ["chrome",(agent.match(regStr_chrome)+"").replace(/[^0-9.]/ig,"")] ;
            }
            //Safari
            if(agent.indexOf("safari") > 0 && agent.indexOf("chrome") < 0){
                return ["safari",(agent.match(regStr_saf)+"").replace(/[^0-9.]/ig,"")];
            }
            if(agent.indexOf('net') != -1 && agent.indexOf("rv") != -1){
                var strStart = agent.indexOf('rv');
                var strStop = agent.indexOf(')');
                var temp = agent.substring(strStart, strStop);
                return ['ie',temp.split(':')[1]]
            }
        }
        var browser = getBrowserVersion();
        var config = {
            name: browser?browser[0]:'',
            version:browser?browser[1].split('.')[0]:''
        }
        
//        $.post('/pvuv/addPvUv',config,function (response) {
//
//        })

        /*百度统计*/
      	var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?50d13d049948122f57a3031f16ed6a58";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
        var animate = {
					middle: true,
				};
        function scrollFn(){
					var srcollTop = $(window).scrollTop();
					if(srcollTop > $(".middle").offset().top - $(".middle").height() / 2) {
						$('.middle .float-tip').show().animate({
							left: '-0',
							opacity: '1'
						}, 'slow');
						animate.middle = false;
					}
        }
        $(window).scroll(function() {
        	if(animate.middle){
        		scrollFn();
        	}
				});
				var userEmail = document.cookie.match(new RegExp("(^| )" + 'userEmail' + "=([^;]*)(;|$)"));
				if (userEmail !== null) {
					userEmail = window.unescape(userEmail[2]);
				}
				if(userEmail){
					$('.login').show();
				}else{
					$('.nologin').show();
				}
    </script>
</body>
</html>