<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<title>多简历-登录</title>
	<meta name="Keywords" content="多简历,免费简历,人才库,简历库">
	<meta name="Description" content="多简历是全国最大的一站式招聘服务平台，10万+企业用户的共同选择。千万级优质的全网简历搜索、应用大数据智能简历推送、精准的职位发布、高效的云端管理系统，让多简历成为企业与人才之间沟通的桥梁。">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<link rel="shortcut icon" href="../img/common/logo.ico">
	<link rel="stylesheet" type="text/css" href="/css/common/base.css"/>
	<link rel="stylesheet" href="../js/lib/element/element.min.css">
	<link rel="stylesheet" type="text/css" href="/css/controller/sign.css">

	<script src="../js/require-config.js" defer="true"></script>
	<script data-main="../js/controller/signin.js" src="../js/lib/require/require.min.js" defer="true"></script>
</head>

<body>
	<div id="app">
		<div class="sign-wrap">
			<form class="sign-form-wrap" @submit.prevent="signIn">
				<a href="/base/index"><img src="/img/common/ico-logo-x180.png" class="sign-logo"/></a>
				<div class="sign-form">
					<p class="sign-title">用户登录</p>
					<div class="sign-con">
						<div class="input-wrap">
							<p class="input-title">帐号</p>
							<el-input 
								v-model="userInfo.userName" 
								@change="userNameErr=''" 
								id="userName" 
								:maxlength="50" 
								placeholder="请输入用户邮箱或手机号码"></el-input>
							<div class="err" v-text="userNameErr"></div>
						</div>
						<div class="input-wrap">
							<p class="input-title">密码</p>
							<el-input 
								type="password"
								v-model="userInfo.passWord" 
								@change="passWordErr=''" 
								id="passWord" 
								:maxlength="50" 
								placeholder="请输入密码" ></el-input>
							<div class="err" v-text="passWordErr"></div>
						</div>
						<div class="sign-btn">
							<button class="hr-btn hr-btn-yellow" type="submit">登&nbsp;&nbsp;录</button>
						</div>
						<div class="sign-footr">
							<a :href="'/forget/forget'">忘记密码？</a>
							<span>还没有云简历账号，<a :href="'/regist/regist'">立即注册</a></span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>