<div class="hr-basePage">
	<!-- 右下角浮动 start -->
    <!--<div class="tool_float">
        <div class="tool_kf_warp">
        	<a class="tool_kf" title="联系客服" href="http://wpa.qq.com/msgrd?v=3&uin=1545935909&site=www.shilipai.net&menu=yes" target="_blank"></a>
        </div>
        <div class="tool_qrcode_warp">
        	<div class="tool_qrcode" title="二维码"></div>
        	<div class="tool_box">
        		<div class="tool_box_con">
        			<img alt="多简历" class="qrcode-img" src="../../img/common/ico-tool.png">
        		</div>
        	</div>
        </div>
        <a id="rocket" class="tool_rocket" title="置顶"></a>
    </div>-->
    <!-- 右下角浮动 end -->
    
</div>

