<div class="hr-header-page">
	<div class="logo-wrap"><img src="../../img/common/left-logo.png"/></div>
	<ul class="hr-header-channel hr-ml20 clearfix">
		<li>
			<a :class="" class="hr-vertical-middle-container"><img src="../../img/common/top-icon1.png"/><span class="hr-ml5">金币</span></a>
			<div class="float-tip hr-fontsize12">
				剩余
				<div class="hr-color-red hr-mt2"><span v-text="userinfo.gainNum" class="hr-fontsize16"></span> 金币</div>
			</div>
		</li>
		<li>
			<a  :class="" class="hr-vertical-middle-container"><img src="../../img/common/top-icon2.png"/><span class="hr-ml5">下载</span></a>
			<div class="float-tip hr-fontsize12">
				已下载
				<div class="hr-color-red"><span v-text="userinfo.gainCount" class="hr-fontsize16"></span> 份简历</div>
			</div>
		</li>
		<li>
			<a  :class="" class="hr-vertical-middle-container"><img src="../../img/common/top-icon3.png"/><span class="hr-ml5">暂存</span></a>
			<div class="float-tip hr-fontsize12">
				已暂存
				<div class="hr-color-red"><span v-text="userinfo.storageCount" class="hr-fontsize16"></span> 份简历</div>
			</div>
		</li>
	</ul>

	<div class="hr-fr hr-mr30 hr-vertical-middle-container header-user-oper">
		<img v-if="userinfo.heandImg" :src="'/icloudimg/getHeadImg?v='+userinfo.headTime" onerror="javascript:this.src='../../img/common/top-default-user.png'"/>
		<img v-else src="../../img/user/user-default.png" alt="">
		<div>
			<span class="hr-ml10 hr-mr5">个人中心</span>
			<i class="triangle"></i>
		</div>
		<div class="float-tip">
			<a href="">账号设置</a>
			<a @click="userCancel()">退出</a>
		</div>
	</div>
	<div class="hr-fr notice">
		<a href="/notice/notice">
			<img src="../../img/user/notice.png" alt="">
			<i v-if="userinfo.noticeNum>0" class="badge">{{userinfo.noticeNum}}</i>
			消息通知
		</a>
	</div>
		<!--<a href="/base/index"></a><img src="../../img/common/logo.png" class="hr-mt25"/>
		-->
	</div>
</div>
