<div class="home-detail stonefont"  >
    <div class="detail-con clearfix">
        <div class="detail-resume">
        	<!--简历详情头部功能模块-->
            <resume-top ref="resume_top"></resume-top>
            
            <div class="resume-head">
                <div class="avatar hr-fl" >
                    <img  :src="detailInfo.sex=='女'?'/img/detail/avatar_g.png':'/img/detail/avatar_b.png'" alt="">
                </div>
                <ul class="resume-baseinfo hr-fl">
                    <li class="position eachHighlight" :title="detailInfo.jobTitle">{{detailInfo.jobTitle}}</li>
                    <li class="hr-vertical-middle-container">
                        <!--<p v-if="userInfo.telephone"><i class="hr-icon hr-icon-drtel"></i><span>{{userInfo.telephone}}</span></p>
                        <p v-if="userInfo.email"><i class="hr-icon hr-icon-dremail"></i><span>{{userInfo.email}}</span></p>-->
                    	<!--<i class="detail-dreducation"></i>-->
                    	<img src="/img/detail/dreducation_sz.png"/>
                    	<span class="eachHighlight hr-mr3" v-if="detailInfo.eduList.length>0">{{detailInfo.eduList[0].schoolName}}</span>
                    	<span class="hr-mr3" style="color: #d9d9d9;" v-if="detailInfo.eduList.length>0&&detailInfo.eduList[0].schoolName&&(detailInfo.eduList[0].specialty||detailInfo.education)">|</span>
                    	<span class="eachHighlight hr-mr3" v-if="detailInfo.eduList.length>0">{{detailInfo.eduList[0].specialty}}</span>
                    	<span class="hr-mr3" style="color: #d9d9d9;" v-if="detailInfo.eduList.length>0&&(detailInfo.eduList[0].major||detailInfo.education)&&detailInfo.education">|</span>
                    	<span class="eachHighlight" v-if="detailInfo.education!=undefined">{{detailInfo.education}}</span>
                        <span class="eachHighlight" v-if="detailInfo.jobYear!=undefined">{{detailInfo.jobYear}}{{$root.source!='58'?'年工作经验':''}}</span>
                    </li>
                    <li class="hr-vertical-middle-container">
                        <!--<i class="detail-druser"></i>-->
                        <img src="/img/detail/druser_sz.png"/>
                        <span class="eachHighlight" v-if="userInfo.name||detailInfo.name">{{userInfo.name||detailInfo.name}}</span>
                        <span class="eachHighlight" v-if="detailInfo.sex!=undefined">{{detailInfo.sex}}</span>
                        <span class="eachHighlight" v-if="detailInfo.maritalStatus">{{!detailInfo.maritalStatus?'未填':detailInfo.maritalStatus == 1?'未婚': detailInfo.maritalStatus == 2? '已婚' : '离异'}}</span>
                        
                        
                        <span class="eachHighlight" v-if="detailInfo.age!=undefined">{{detailInfo.age}}{{$root.source!='58'?'岁':''}}</span>
                        <!--<i class="detail-drtel" v-if="userInfo.telephone||detailInfo.telephone"></i>-->
                        <img src="/img/detail/drtel_sz.png" v-if="userInfo.telephone||detailInfo.telephone"/>
                        <span>{{userInfo.telephone||detailInfo.telephone}}</span>
                        <span v-if="userInfo.telephoneKey||detailInfo.telephoneKey">密号失效时间：{{userInfo.telephoneKey||detailInfo.telephoneKey}}</span>
                        <!--<i class="detail-dremail" v-if="userInfo.email||detailInfo.email"></i>-->
                       	<img src="/img/detail/dremail_sz.png" v-if="userInfo.email||detailInfo.email"/>
                       	<span>{{userInfo.email||detailInfo.email}}</span>
                    </li>
                </ul>
                <div class="resume-baseinfo-right">
                    <div class="resume-updatetime right-item" v-if="$root.source=='rc'">剩余 <span class="hr-color-red">{{tool.towDecimal($root.gainNum/5)||0}}份</span> 简历下载（{{tool.towDecimal($root.gainNum)}}金币）</div>
                    <div class="right-item">

                    	<!--<el-button @click="interviewState == 'qc'?$root.$refs.dia_interview_qc.interviewDialogQc = true:$root.$refs.dia_interview_zl.interviewDialogZl = true" v-if="interviewState&&detailInfo.isSendMessage===0">发送面试</el-button>-->
                        <!--<el-button @click="$root.$refs.dia_invitation.invitationDialog" v-if="!userInfo&&detailInfo.emailCheck=='1'">立即邀约</el-button>-->
                        <el-button type="success" class="hr-btn-green" @click="$root.$refs.dia_payment.payment.dialog=true" v-if="!detailInfo.isPay">获取简历</el-button>
                        <el-button type="success" class="hr-btn-green" @click="$root.$refs.dia_download.download.dialog=true" v-else-if="detailInfo.isPay">下载简历</el-button>
                        <!--<div v-if="userInfo&&detailInfo.emailCheck=='0'" class="hr-share"><a href="javascript:void(0)"><i class="hr-icon hr-icon-peraccount"></i>分享简历</a></div>-->
                    </div>
                </div>
            </div>
            <div class="resume-com ">
                <div class="resume-com-item">
                    <p class="item-title"><span>求职意向</span></p>
                    <div class="item-con item-intention clearfix">
                        <p v-if="detailInfo.expectWorkType!=undefined">期待工作性质：<span class="eachHighlight">{{detailInfo.expectWorkType=='0'?'不限':detailInfo.expectWorkType}}</span></p>
                        <p v-if="detailInfo.expectCity">期待城市：<span class="eachHighlight">{{detailInfo.expectCity}}</span></p>
                        <p v-if="detailInfo.expectSalary">期待月薪：<span class="eachHighlight">{{detailInfo.expectSalary}}{{$root.source=='58'?' 元/月':''}}</span></p>
                        <p v-if="detailInfo.jobState">目前状况：<span class="eachHighlight">{{detailInfo.jobState}}</span></p>
                        <p v-if="detailInfo.jobTitle!=undefined">期待从事职业：<span class="eachHighlight">{{detailInfo.jobTitle}}</span></p>
                    </div>
                </div>
                <div class="resume-com-item" v-if="detailInfo.selfEvaluate">
                    <p class="item-title"><span>自我评价</span></p>
                    <div class="item-con">
                        <pre class="eachHighlight" v-html="detailInfo.selfEvaluate"></pre>
                    </div>
                </div>
                <div class="resume-com-item" v-if="detailInfo.workList.length>0">
                    <p class="item-title"><span>工作经历</span></p>
                    <div class="item-con experience" v-for="(item,i) in detailInfo.workList">
                        <div class="clearfix">
                            <h3 class="hr-fl eachHighlight">{{item.compName}}</h3>
                            <span class="hr-fl working-time fleachHighlight">{{item.startTime.split(' ')[0]}} — {{item.endTime=="0"?"至今":item.endTime.split(' ')[0]}}</span>
                        </div>
                        <p class="item-msg">
                            <span class="eachHighlight" v-if="item.compIndustry">{{_match('industry',item.compIndustry)}} </span>
                            <span class="eachHighlight" v-if="item.jobTitle">{{item.jobTitle}}</span>
                            <span class="eachHighlight" v-if="item.salary">{{_match('salary',item.salary)}}</span>
                            <span class="eachHighlight" v-if="item.compProperty">{{_match('ComProperty',item.compProperty)}}</span>
                            <span class="eachHighlight" v-if="item.compSize">{{_match('compSize',item.compSize)}}</span>
                        </p>
                        <div v-if="item.workDesc">
                            <strong>工作描述：</strong>
                            <pre class="eachHighlight" v-html="item.workDesc"></pre>
                        </div>
                    </div>
                </div>
                <div class="resume-com-item " v-if="detailInfo.projectList.length>0">
                    <p class="item-title"><span>项目经验</span></p>
                    <div class="item-con experience" v-for="(item,i) in detailInfo.projectList">
                        <div class="clearfix">
                            <h3 class="hr-fl eachHighlight">{{item.projectName}}</h3>
                            <span class="hr-fl working-time">{{item.startTime.split(' ')[0]}} — {{item.endTime=="0"?"至今":item.endTime.split(' ')[0]}}</span>
                        </div>
                        <div v-if="item.responsibilityDesc">
                            <strong>责任描述：</strong>
                            <pre class="eachHighlight" v-html="item.responsibilityDesc"></pre>
                        </div>
                        <div v-if="item.projectDesc">
                            <strong>项目描述：</strong>
                            <pre class="eachHighlight" v-html="item.projectDesc"></pre>
                        </div>

                    </div>
                </div>
                <div class="resume-com-item " v-if="detailInfo.eduList.length>0">
                    <p class="item-title"><span>教育经历</span></p>
                    <div class="item-con experience" v-for="(item,i) in detailInfo.eduList">
                        <div class="linetext">
                            <span>{{item.startTime.split(' ')[0]}}</span> — <span>{{item.endTime.split(' ')[0]}}</span>
                            <span class="eachHighlight" v-if="item.schoolName"> {{item.schoolName}}</span>
                            <span class="eachHighlight" v-if="item.specialty">> {{item.specialty}}</span>
                            <span class="eachHighlight" v-if="item.education">> {{_match('edu',item.education)}}</span>
                        </div>
                    </div>
                </div>
                <div class="resume-com-item " v-if="detailInfo.languagesList.length>0">
                    <p class="item-title"><span>语言能力</span></p>
                    <div class="item-con experience" v-for="(item,i) in detailInfo.languagesList">
                        <div class="linetext">
                            <span class="eachHighlight" v-if="item.languageName">{{item.languageName}}</span>
                            <span class="eachHighlight" v-if="item.readWriteSkill">读写能力 {{item.readWriteSkill}}</span>
                            <span class="eachHighlight" v-if="item.hearSpeakSkill">听说能力 {{item.hearSpeakSkill}}</span>
                        </div>
                    </div>
                </div>
                <div class="resume-com-item " v-if="detailInfo.trainList.length>0">
                    <p class="item-title"><span>培训经历</span></p>
                    <div class="item-con experience" v-for="(item,i) in detailInfo.trainList">
                        <p class="text-black">{{item.startTime.split(' ')[0]}} — {{item.endTime=="0"?"至今":item.endTime.split(' ')[0]}} <span class="eachHighlight"
                                style="margin-left:10px;">{{item.machinery}}</span></p>
                        <p class="text-black">
                            <span class="eachHighlight" v-if="item.trainName">{{item.trainName}}</span>
                            <span class="eachHighlight" v-if="item.certificateName">{{item.certificateName}}</span>
                            <span class="eachHighlight" v-if="item.address">{{item.address}}</span>
                        </p>
                    </div>
                </div>
                <div class="resume-com-item " v-if="detailInfo.skillsList.length>0">
                    <p class="item-title"><span>掌握技能</span></p>
                    <div class="item-con experience item-con-label">
                        <div class="text-border" v-for="(item,i) in detailInfo.skillsList">
                            <p>
                                <span class="eachHighlight" v-if="item.skillName">{{item.skillName}}</span>
                                <span class="eachHighlight" v-if="item.usedMonths">{{item.usedMonths}}个月</span>
                                <span class="eachHighlight" v-if="item.masterDegree">{{item.masterDegree}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--简历详情尾部浮动-->
    <!--<resume-footer ref="resume_footer"></resume-footer>-->
</div>