 @charset "UTF-8";
/* CSS Document */
@import "../common/base_variable";
@import "../common/base_tool";

$colorDefault: #2b8df2;

.gtype-item-wrap{
    width: 106px;
    text-align: center;
}
.share-item-wrap{
    width: 40px;
    text-align: center;
    min-width: inherit;
    padding: 0; 
    margin: 0;
    background-color: transparent;
    border: 0; 
    box-shadow: none;
    .el-dropdown-menu__item{
        padding: 0;
        a {
            display: inline-block;
            width: 32px;
            height: 33px;
            line-height: 1;
            vertical-align: middle;
//          margin: 0 3px;
//          padding-top: 5px;
            &.share-qq {
                background: url("/img/detail/icon-qq.png") no-repeat;
                background-size: 100% 100%;
            }
            &.share-wx {
                background: url("/img/detail/icon-wx.png");
                background-size: 100% 100%;
            }
        }
        &:not(.is-disabled):hover {
            background-color: transparent;
            color: initial;
        } 
    }
}
.home-detail {
    position: relative;
    font-family: "Microsoft YaHei";
    width: 950px;
    margin: 0 auto;
    .detail-menu {
        background: #fff;
        ul {
            li {
                height: 24px;
                line-height: 24px;
                float: left;
            }
            @at-root .detail-menu-left {
                li {
                    cursor: pointer;
                    color: #555;
                    margin: 0 5px;
                    i {
                        color: #4c89fb;
                        padding: 0 3px;
                    }
                    &.detail-menu-remove {
                        color: #4c89fb;
                        border: 1px solid #e5e5e5;
                        padding-left: 6px;
                        i {
                            border-left: 1px solid #e5e5e5;
                            display: inline-block;
                            height: 20px;
                            margin-left: 3px;
                            vertical-align: 3px;
                            &:before {
                                vertical-align: -3px;
                            }
                        }
                    }
                }
            }
            @at-root .detail-menu-right {
                li {
                    margin: 0 10px;
                    a {
                        color: #9092a5;
                    }
                }
            }
        }
        &.recume-none {
            li {
                cursor: default;
                a {
                    cursor: default;
                }
            }
        }
    }
    .file-path {
        border-bottom: 1px solid #e5e5e5;
        line-height: 26px;
        padding: 6px 20px;
        .paths {
            li {
                float: left;
                padding: 0 5px;
                color: #333;
                span {
                    color: #dcdcdc;
                }
                &:first-child {
//                  color: #4c89fb;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .detail-con {
        width: 100%;
        margin: 0 auto 70px;
        position: relative;
        border-radius: 5px;
        .detail-label {
            span {
                border: 1px solid #e5e5e5;
                background: #fff;
                color: #9294a7;
                height: 20px;
                line-height: 14px;
                padding: 2px 18px;
                border-radius: 12px;
                margin-right: 10px;
                display: inline-block;
                margin-bottom: 5px;
            }
        }
        .detail-enclosure {
            margin: 18px 0;
            padding: 0 40px;
            span {
                color: #9092a5;
            }
            p {
                margin: 0 16px;
                a {
                    text-decoration: none;
                    color: #9092a5;
                    &:hover {
                        color: #6a9cf9;
                        border-bottom: 1px solid #6a9cf9;
                    }
                }
                i {
                    color: #6a9cf9;
                }
            }
        }
        @at-root .detail-resume {
            overflow-y: auto;
            height: 100%;
            margin-top: 30px;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            .top-box-wrap{
                .tabs-wrap{
                    border-bottom: 1px solid #d9d9d9;
                    position: relative;
//                  line-height: 30px;
                    .tabs-wrap-left,.tabs-wrap-rigth{
                        width: 36px;
                        position: absolute;
                        text-align: center;
                        line-height: 30px;
                        cursor: pointer;
                    }
                    .tabs-wrap-left{
                        left: 0;
                        border-right: 1px solid #d9d9d9;
                    }
                    .tabs-wrap-rigth{
                        right: 0;
                        border-left: 1px solid #d9d9d9;
                    }
                    .tabs-con{
                        width: 877px;
                        margin: 0 auto;
                        overflow: hidden;
                        .tabs-list{
                            width: 1925px;
                            li{
                                width: 175px; 
                                float: left;
                                background: linear-gradient(#fff,#EDF6FB);
                                border-left: 1px solid #d9d9d9;
//                              border-right: 1px solid #d9d9d9;
//                              padding: 5.5px 8px;
                                &:first-child{
                                    border-left: 0;  
                                }
                                &.active,&:hover{
                                    background: linear-gradient(#4879B5,#4869A7);
                                    color: #fff;

                                    .icon-close{
                                        background: url("/img/detail/icon-close-active.png") no-repeat;
                                    }
                                }
                                a{
                                    max-width: 140px;
                                    word-wrap: normal;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    float: left;
                                    display: block;
                                    width: 100%;
                                    padding: 5.5px;
                                }
                                i{
                                    float: right;
                                    margin: 10px 9px;
                                    cursor: pointer;
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    &.icon-close{
                                        background-image:url("/img/detail/icon-close.png");
                                    }
                                }
                            }
                        }
                    }
                }
                .top-box {
                    height: 50px;
                    line-height: 48px;
                    font-size: 16px;
    //              border: 1px solid #d9d9d9;
    //              margin-bottom: 10px;
    //              border-radius: 2px;
    //              border-top-right-radius: 2px;
    //              border-top-left-radius: 2px;
                    padding: 0 25px;
                    background-color: #fff;
                    &.cloud{
                        .yf-lofo-wrap:after{
                            display: none;
                        }
                        span{
                            float: right;
                            margin-top: 1px;
                        } 
                    }
                    .el-button{
                        padding: 8px 12px; 
                        color: #555;
                        background: linear-gradient(#feffff,#edf6fb);
                        border-radius: 2px;
                        &:hover,&:focus{
                            color: $g_blueColor;
                            border-color: $g_blueColor;
                            .ico-historicalRecord{
                                background-image: url(/img/detail/ico-historicalRecord-active.png);
                            }
                            .ico-addTemporary{
                                background-image: url(/img/detail/ico-addTemporary-active.png);
                            }

                            .ico-gtype{
                                background-image: url(/img/detail/ico-gtype-active.png);
                            }
                            .el-icon-more{
                                color: $g_blueColor;
                            }
                            .iconfont{
                                color: $g_blueColor;
                            }
                        }
                        .ico-addTemporary,.ico-gtype,.ico-historicalRecord{
                            width: 14px;
                            height: 13px;
                            display: inline-block;
                            position: relative;
                            top: 1px;
                            background-repeat: no-repeat;
                        }
                        .ico-historicalRecord{
                            background-image: url(/img/detail/ico-historicalRecord.png);
                        }
                        .ico-addTemporary{
                            background-image: url("/img/search/temporary.png");
                            background-size:100% 100%;
                        }
                        .ico-gtype{
                            background-image: url(/img/detail/ico-gtype.png);
                        }
                        .el-icon-more{
                            color: #999;
                        }
                        .iconfont{
                            color: #999;
                        }
                        &.is-disabled,
                        &.is-disabled:focus,
                        &.is-disabled:hover,{
                            color: #555;
                            background-color: #fff;
                            border-color: #d9d9d9;
                            .ico-addTemporary{
                                background-image: url(/img/detail/ico-addTemporary.png);
                            }
                        }
                    }
                    .el-dropdown{
                        .el-button span{
                            margin-right: 15px;
                            position: relative;
                        }
                        .iconfont {
                            width: 22px;
                            height: 100%;
                            text-align: center;
                            right: -23px;
                            margin-top: 2px;
                            top: 50%;
                            position: absolute;
                            line-height: 16px;
                            -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                        &.el-dropdown-open{
                            .iconfont {
                                transition: all .3s;
                                -webkit-transform: translateY(-50%) rotateZ(180deg);
                                transform: translateY(-50%) rotateZ(180deg);
                                margin-top: -1px;
                            }
                            .ico-gtype{
                                background-image: url(/img/detail/ico-gtype-active.png);
                            }
                        }
                    }
                    .yf-logo-wrap{
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 1;
                        position: relative;
                        img{
                            width: 110px;
                        }
                        &.yf-logo-time:after{
                            content: '';
                            width: 1px;
                            height: 20px;
                            display: block;
                            position: absolute;
                            background-color: #d9d9d9;
                            top:50%;
                            right: -15px;
                            margin-top: -10px;
                        }
                    }
                    .share-link {
                        height: 30px;
                        line-height: 20px;
                        margin-left: 30px;
                        margin-top: 12px;
                        a {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            margin: 0 3px;
                            padding-top: 5px;
                            &.share-qq {
                                background: url("/img/detail/icon-qq.png") no-repeat;
                                background-size: 100% 100%;
                            }
                            &.share-wx {
                                background: url("/img/detail/icon-wx.png");
                                background-size: 100% 100%;
                            }
                        }
                    }
                    .temporary {
                        margin-left: 30px;
                        p {
                            margin-top: 12px;
                            cursor: pointer;
                            float: left;
                            i {
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                margin-left: 5px;
                                &.hr-icon-temporary {
                                    background: url("/img/icon/temporary.png") no-repeat;
                                    background-size: 100% 100%;
                                }
                                &.hr-icon-temporaryed {
                                    background: url("/img/icon/temporaryed.png") no-repeat;
                                    background-size: 100% 100%;
                                }
                            }
                        }
                    }
                }
            }
            .resume-head {
                position: relative;
//              background: url("../../img/detail/bg-resume.png") no-repeat;
                background: linear-gradient(#4A7CB7,#3970B2);
                background-size: 100% 100%;
                min-height: 155px;
                .avatar {
                    width: 100px;
                    height: 100px;
                    //background: url("../../img/detail/avatar.png") no-repeat;
                    background-size: 100% 100%;
                    border-radius: 50%;
                    margin: 27.5px 19px 27.5px 40px;
                    float: left;
                }
                .resume-baseinfo {
                    color: #fff;
                    margin: 27.5px 0;
                    width: 600px;
                    float: left;
                    li {
                        line-height: 26px;
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .name {
                        font-size: 18px;
                    }
                    .position {
//                      font-size: 14px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    p {
                        float: left;
                        margin-right: 10px;
                    }
                    span {
                        margin-right: 12px;
                        vertical-align: middle;
                    }
                    i {
                        color: #4c89fb;
//                      margin-right: 8px;
                    }
                }
                @at-root .resume-baseinfo-right {
                    margin: 23px 30px;
                    color: #fff;
                    position: absolute;
                    right: 0;
                    .right-item {
                        margin: 10px 0;
                        float: right;
                        clear: both;
                        a {
                            color: #fff;
                        }
                        button {
                            padding: 10px 0px;
                            width: 88px;
                            &.hr-btn-yellow:hover{
                                background: linear-gradient(#fcbe64,#fea01c);
                                color: #fff;
                                border-color:#e0972e;
                            }

//                          &:hover,&:active,&:focus{
//                              background: linear-gradient(#fbb144,#f38e00);
//                              border: 1px solid #e1972e;
//                              color: #fff;
//                          }
//                          color: #2b8df2;
//                          border: none;
                        }
                        .hr-share {
                            margin-top: 10px;
                        }
                    }
                }
            }
            .resume-com {
                padding: 40px 40px 10px;
                background: #fff;
                color: #333;
//              border: 1px solid #d9d9d9;
//              border-bottom-right-radius: 2px;
//              border-bottom-left-radius: 2px;
                @at-root.resume-com-item {
                    h3 {
                        font-size: 14px;
                    }
                    padding-bottom: 20px;
                    .item-title {
                        position: relative;
                        color: $g_blueColor;
//                      text-align: center;
                        background-color: #EDF6FB;
                        padding: 8px 25px;
//                      &:before {
//                          content: '';
//                          position: absolute;
//                          left: 0;
//                          top: 50%;
//                          width: 40%;
//                          border-top: 1px solid #e5e5e5;
//                      }
//                      &:after {
//                          content: '';
//                          position: absolute;
//                          right: 0;
//                          top: 50%;
//                          width: 40%;
//                          border-top: 1px solid #e5e5e5;
//                      }
                    }
                    .item-con {
                        margin-top: 20px;
                        margin-left: 20px;
                        .text-black {
                            color: #333;
                            span {
                                color: #333;
                                margin-right: 8px;
                            }
                        }
                        .text-border {
                            margin: 10px;
                            display: inline-block;
                            p {
                                color: #333;
                                border: 1px solid #e5e5e5;
                                display: inline-block;
                                padding: 0 10px;
                                border-radius: 3px;
                            }
                            span {
                                color: #333;
                            }
                        }
                        .working-time {
                            margin-left: 10px;
                            color: #333;
                            line-height: 19px;
                        }
                        &.item-intention{
                            p{
                                width: 50%;
                                float: left;
                            }
                        }
                        p {
                            line-height: 30px;
                        }
                        .item-msg {
                            span {
                                display: inline-block;
                                border-right: 1px solid #9294a7;
                                line-height: 16px;
                                padding: 0 5px;
                                &:first-child {
                                    padding-left: 0;
                                }
                                &:last-child {
                                    border-right: none;
                                }
                            }
                        }
                        strong {
                            line-height: 30px;
                            margin-top: 8px;
                            display: inline-block;
                        }
                        .linetext {}
                        &.item-con-label{
                            margin: 10px -10px -10px 5px;
                        }
                    }
                }
            }
        }
    }
    //简历标签
    .tags {
        width: 745px;
        padding: 0 40px;
        .tags-title {
            text-align: center;
            font-size: 14px;
            span {
                color: #4c89fb;
            }
        }
        .resume-tag {
            display: inline-block;
            padding: 0 10px;
            border-radius: 20px;
            border: 1px solid #e5e5e5;
            margin: 6px;
            position: relative;
            &:hover {
                cursor: pointer;
            }
            &.active {
                background: #9294a7;
                color: #fff;
                border: 1px solid #9294a7;
            }
            i {
                position: absolute;
                top: -5px;
                color: #fb4c4d;
                right: 0;
                font-size: 12px;
            }
        }
        span {
            color: #9294a7;
        }
        .tags-selected {
            margin: 40px 0;
            .tags-selected-tit {
                width: 70px;
                height: 30px;
                line-height: 30px;
            }
            .tags-selected-list {
                max-width: 500px;
            }
        }
        .tags-diy {
            input {
                width: 466px;
                height: 38px;
                border: 1px solid #e5e5e5;
                border-radius: 20px;
                padding: 0 20px;
            }
            button {
                width: 120px;
                height: 40px;
                color: #fff;
                background: #4c89fb;
                border-radius: 20px;
                outline: none;
                border: none;
                margin-left: 16px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .tags-list {
            border-top: 1px solid #e5e5e5;
            margin-top: 40px;
            padding: 40px 0;
            @at-root .listtag {
                line-height: 30px;
                width: 19%;
                color: #9294a7;
                margin: 10px 3px 0;
                float: left;
                li {
                    &:first-child {
                        color: #555;
                    }
                    a {
                        text-decoration: none;
                        color: #9294a7;
                        &:hover {
                            color: #4c89fb;
                            border-bottom: 1px solid #4c89fb;
                        }
                    }
                }
                .tags-alltag {
                    position: relative;
                    &:hover {
                        ul {
                            display: block;
                        }
                    }
                    .tags-alltag-a {
                        color: #4c89fb;
                    }
                    ul {
                        display: none;
                        background: #fff;
                        position: absolute;
                        left: 50%;
                        width: 120px;
                        top: -80px;
                        border: 1px solid #e5e5e5;
                        border-radius: 3px;
                        font-size: 12px;
                        li {
                            padding: 0 18px;
                            line-height: 26px;
                            &:hover {
                                background: #4c89fb;
                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
        .hr-box-btn {
            margin-bottom: 15px;
            button {
                float: right;
                width: 60px;
                height: 26px;
                border: none;
                outline: none;
                margin: 0 10px;
                &:hover {
                    cursor: pointer;
                }
                &.determine {
                    background: #4c89fb;
                    color: #fff;
                }
                &.cancel {
                    color: #9294a7;
                    border: 1px solid #e5e5e5;
                    background: #fff;
                }
            }
        }
    }
    .detail-dialogbg {
        background: rgba(0,0,0,0);
        box-shadow: none;
    }
}
.enclosure {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 0;
    width: 58%;
    z-index: 100;
    text-align: center;
    .el-carousel__container {
        height: 1700px;
    }
    .el-carousel__item {
        overflow-y: visible;
    }
    .el-carousel__arrow {
        width: 60px;
        height: 60px;
        position: fixed;
        border-radius: 0;
        margin-top: 250px;
        &:hover {
            background-color: rgba(31,45,61,.7);
        }
        i {
            font-size: 30px;
        }
    }
    img {
        max-width: 100%;
    }
}
.hr-btn-yellow{
    box-shadow: 0 1px -1 #fcc270;
    border: 1px solid #e0972e;
    text-shadow: 0 -1px 0 #de8300;
    //&:hover,&:active,&:focus{
    //    border: 1px solid #c4c4c4;
    //    color: #fff;
    //}
}
.recume-null {
    text-align: center;
    margin: 300px auto 0;
    height: 170px;
    width: 60%;
    overflow: hidden;
    span {
        display: inline-block;
        margin-top: 80px;
        margin-left: 60px;
        color: #9294a7;
        font-size: 16px;
    }
}
.hr-confirm-wrap {
    .el-dialog {
        width: 415px;
//      padding: 20px 0;
//      .el-dialog__header {
//          text-align: center;
//      }
        .el-dialog__body {
            padding: 20px 20px 10px;
        }
        .el-dialog__footer button{
            &:hover,&:active,&:focus{
                background: linear-gradient(#fbb144,#f38e00);
                border: 1px solid #e1972e;
                color: #fff;
            }
        }
        .confirm-con{
            p{
                margin-left: 20px;
                width: 300px;
            }
        }
    }
}
//邀约弹框
.sendemail {
    .el-dialog {
        width: 620px;
        .el-dialog__header {
            padding: 20px 38px;
            border-bottom: 1px dashed #e5e5e5;
        }
    }
    .el-dialog__body {
        padding: 16px 38px 35px;
    }
    .dialogInvitation-head {
        padding-bottom: 24px;
        border-bottom: 1px dashed #e5e5e5;
        strong {
            color: #000;
            font-size: 15px;
        }
        span {
            color: #fb4c4d;
        }
    }
    .dialogInvitation-body {
        .invitation-item {
//          margin-bottom: 8px;
//          &:last-child {
//              margin-bottom: 30px;
//          }
            .err{
                line-height: 18px;
                height: 20px;
                font-size: 12px;
                margin-left: 6px;
                color: $g_redColor;
            }
        }
        h4 {
            margin: 0 0 10px;
            color: #333333;
            &:before {
                content: '*';
                color: #e73a40;
            }
            &.optional:before{
                content: ' ';
                width: 6.81px;
                display: inline-block; 
            }
        }
        .sellarge {
            width: 100%;
        }
        .lritem {
            width: 48%;
            .salay-input{
//              display: inline-block;
                width: 110px;
//              input{
//              }
            }
        }
    }
    .el-dialog__footer {
        text-align: left !important;
        margin-left: 20px;
        margin-bottom: 20px;
        button {
            padding: 8px 15px;
        }
        .el-button--primary {
            background: #2b8df2;
        }
    }
    .preview-com {
        margin: 5px 0 30px;
        p {
            height: 26px;
            line-height: 26px;
            &.email-tit {
                margin: 10px 0;
            }
            .red {
                color: #e33244;
            }
        }
        .etext {
            background: #f5f5f5;
            padding: 8px 13px;
            line-height: 24px;
        }
    }
}
//支付弹框
.paymentdia {
    .el-dialog {
        width: 415px;
//      padding: 20px 0;
//      .el-dialog__header {
//          text-align: center;
//      }
        .el-dialog__body {
            padding: 20px 20px 10px;
        }
        .el-dialog__footer {
            .hr-btn-yellow{
                box-shadow: 0 1px -1 #fcc270;
                border: 1px solid #e0972e;
                text-shadow: 0 -1px 0 #de8300;
                &:hover,&:active,&:focus{
                    background: linear-gradient(#fbb144,#f38e00);
                    border: 1px solid #e1972e;
                    color: #fff;
                }
            }
        }
        .confirm-con{
            p{
                margin-left: 20px;
                width: 300px;
            }
        }
    }
}
.codeDialog {
    width: 380px;
    //height: 280px;
    text-align: center;
    top: 28% !important;
    .el-dialog__header {
        padding: 20px;
        text-align: left;
        border-bottom: 1px solid #e0e5ec;
    }
    .el-dialog__footer {
        line-height: 22px;
        padding: 15px 30px 12px;
        border-top: 1px solid #e0e5ec;
    }
}
//下载框
.downloaddia {
    .el-dialog {
        width: 415px;
        .el-dialog__body {
            padding: 20px 20px 10px;
        }
    }
    .dialog-main{
//      margin-left: 20px;
        width: 100%;
        text-align: center;
        .el-radio{
            margin: 0 7.5px 0;
            .el-radio__input.is-checked .el-radio__inner{
                border-color: #f7a42a;
                background: #f7a42a;
            }
        }
    }
//  &.downReady {
//      .el-dialog {
//          padding: 20px 0 15px;
//          width: 300px;
//      }
//  }
//  .downformat {
//      //  margin:20px 0;
//  }
//  .downBtn {
//      color: #fff;
//      background: #20a0ff;
//      border-radius: 4px;
//      padding: 8px 15px;
//      margin-top: 20px;
//  }
//  .readtext {
//      margin-bottom: 30px;
//  }
//  .el-dialog__header {
//      padding: 20px;
//  }
//  .el-dialog__body {
//      padding: 0;
//  }
//  .el-dialog__footer {
//      text-align: center;
//      padding: 10px 20px 25px;
//  }
}
//添加备注
.remarksdia {
    &.active {
        .el-dialog {
            width: 300px;
            .remarksDelCon {
                text-align: center;
            }
        }
    }
    .el-dialog {
        width: 455px;
    }
    .el-dialog__header {
        padding: 20px; //      border-bottom: 1px solid #e0e5ec;
    }
    .el-dialog__body {
        padding: 0 20px 10px;
    }
    .el-dialog__footer {
        padding: 10px 20px 25px;
    }
    .remark-text {
        //  margin:20px 0;
    }
    .remark-btn {
        text-align: center;
        button {
            width: 48%;
            &.default {
                background: $colorDefault;
            }
        }
    }
    .remark-del {
        text-align: center;
        p {
            margin: 20px 0;
        }
        .default {
            background: $colorDefault;
        }
    }
}
//脚部菜单栏
.foot-menu {
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,.5);
    width: 950px;
    ul {
        overflow: hidden;
        padding: 10px 0;
        margin: 0 auto;
        text-align: center;
        &.min-width {
            width: 835px;
        }
        li {
            display: inline-block;
            width: 110px;
            height: 35px;
            border: 1px solid #fff;
            border-radius: 1px;
            color: #fff;
            cursor: pointer;
            margin: 0 10px;
            line-height: 32px;
            text-align: center;
            &.disabled {
                background: rgba(221,221,221,.5);
                cursor: default;
                border-color: #ddd;
                &:hover {
                    background: rgba(221,221,221,.5);
                    border-color: #ddd;
                }
            }
            &.active {
                background: $colorDefault;
                border-color: $colorDefault;
            }
            &:hover {
                background: $colorDefault;
                border-color: $colorDefault;
            }
            i {
                //margin:0 5px;
            }
            &:before{
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                position: relative;
                top: 2px;
                margin-right: 3px;
            } 
            @for $i from 1 through 6 {
                &:nth-child(#{$i}):before{
                    background: url(../../img/detail/ico-resume#{$i}.png);
                }
            } 
//          &:hover{ 
//              @for $i from 1 through 6 {
//                  &:nth-child(#{$i}):before{
//                      background: url(../../img/detail/ico-resume#{$i}-active.png);
//                  }
//              } 
//          }
        }
    }
}
.el-select-dropdown p.el-select-dropdown__empty {
    display: none;
}
.highlight {
    background: #ef9a9e;
}
.interview-wrap{
    .el-dialog {
        width: 600px;
        padding: 0 38px 0;
        .el-dialog__header {
            padding: 25px 0 15px;
            border-bottom: 1px solid #e5e5e5;
        }
    }
    .el-dialog__body {
        padding: 0 0 35px;
        .interview-text{
            line-height: 1.8;
            padding: 10px 0;
            border-bottom: 1px dashed #e5e5e5;
            margin-bottom: 10px;
        }
    }
    .dialogInvitation-body {
        .invitation-item {
            &.dashed-bottom{
                border-bottom: 1px dashed #e5e5e5;
                padding-bottom: 15px;
                margin-bottom: 10px;
            }
//          margin-bottom: 8px;
            &:last-child {
                margin-bottom: 30px;
            }
            .err{
                line-height: 18px;
                height: 20px;
                font-size: 12px;
                margin-left: 6px;
                color: $g_redColor;
            }
        }
        h4 {
            margin: 0 0 10px;
            color: #333333;
            &:before {
                content: '*';
                color: #e73a40;
            }
            &.optional:before{
                content: ' ';
                width: 6.81px;
                display: inline-block; 
            }
        }
        .sellarge {
            width: 100%;
        }
        .lritem {
            width: 48%;
        }
    }
    .el-dialog__footer {
        text-align: left !important;
        margin-left: 20px;
        margin-bottom: 20px;
        button {
            padding: 8px 15px;
        }
        .el-button--primary {
            background: #2b8df2;
        }
    }
    .preview-com {
        margin: 5px 0 30px;
        p {
            height: 26px;
            line-height: 26px;
            &.email-tit {
                margin: 10px 0;
            }
            .red {
                color: #e33244;
            }
        }
        .etext {
            background: #f5f5f5;
            padding: 8px 13px;
            line-height: 24px;
        }
    }
}
.historical-wrap{
    .el-dialog{
        width: 460px;
        .el-dialog__header{
            padding: 20px 30px 20px;
            border-bottom: 1px solid #e5e5e5;
            .el-dialog__headerbtn{
                margin-top: 5px;
            }
        }
        .el-dialog__body{
            padding: 20px 30px;
            .record-wrap{
                max-height: 350px;
                overflow: auto;
                .record-item{
                    padding-bottom: 15px;
                    border-left: 1px solid #e5e5e5;
                    padding-left: 15px;
                    margin-left: 4px;
                    position: relative;
                    &:first-child{
                        border-color: $g_blueColor;
                        &:before{
                            background-color: $g_blueColor;
                        }
                    }
                    &:before{
                        content: '';
                        width: 8px;
                        height: 8px;
                        background-color: #e5e5e5;
                        position: absolute;
                        top: 0;
                        left: -8px;
                        border-radius: 50%;
                        border: 4px solid #fff;
                    }
                    &:last-child{
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}
