@charset "utf-8";
/* CSS Document */
@import "../common/base_variable";
@import "../common/base_tool";
#app{
    min-width: 1200px;
}

.gold-record-head{
    .head-item{
        p{
            line-height: 30px;
        }
        button{
            width: 84px;
            height: 30px;
            border: none;
            outline: none;
            cursor: pointer;
            background:none;
            font-size: 16px;
            color: #666666;
            padding-bottom:12px;
            font-weight: bold;
            &.active{
                border-bottom: 3px solid $g_blueColor;
                color: $g_blueColor;
            }

        }
    }
}
.gold-record-main{
    box-shadow: 0 2px 2px #ebebeb;
    table{
        width: 100%;
        th,td{
            text-align: left;
            height: 46px;
            background: #f4f4f4;
            padding:0 15px;
            font-weight: 500;
            &:last-child{
                text-align: right;
            }
            &:first-child{
                width: 550px;
            }
        }
        td{
            border-top: 1px dotted #d6d6d6;
        }

    }
    //金币
    .gold-main{
        border: 1px solid #dbdbdb;
        background: #fff;
        padding:20px 25px;
        .gold-list{
           max-width: 1450px;
            width: 100%;
            li{
                overflow: hidden;
                border: 1px solid #dcdde1;
                border-radius: 3px;
                height: 60px;
                line-height: 60px;
                margin-bottom: 14px;
                p{
                    float: left;
                    margin:0 12px;
                    &:first-child{
                        width: 50%;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-left:74px;
                    }
                    &:nth-child(2){
                        width:230px;
                    }
                    &:last-child{
                        width: 100px;
                        text-align: center;
                        float: right;
                    }
                    .hr-btn-green{
                        padding:6px 15px;
                    }
                    .btn-grey{
                        padding:6px 15px;
                        background: #c0c0c0;
                        border-radius: 2px;
                        color: #fff;
                    }
                }
                &:first-child{
                    background:#f2f3f5 url("/img/goldRecord/icon-gold-record.png") no-repeat 0 0;
                }
                &:nth-child(2){
                    background:#f2f3f5 url("/img/goldRecord/icon-gold-record.png") no-repeat 0 -66px;
                }
                &:nth-child(3){
                    background:#f2f3f5 url("/img/goldRecord/icon-gold-record.png") no-repeat 0 -141px;
                }
                &:nth-child(4){
                    background:#f2f3f5 url("/img/goldRecord/icon-gold-record.png") no-repeat 0 -216px;
                }
                &:last-child{
                    background:#f2f3f5 url("/img/goldRecord/icon-gold-record.png") no-repeat 0 -293px;
                }
            }
        }
    }
    //记录
    .record-main{
        border: 1px solid #dedfe1;
        border-radius: 2px;
        .record-list{
            .gold-tip{
                padding:0 24px;
            }
            li{
                overflow: hidden;
                height: 43px;
                border-bottom: 1px solid #dadee1;
                background: #fff;
                line-height: 43px;
                &:nth-of-type(even){
                    background: #f4f4f4;
                }
                p{
                    float: left;
                    margin:0 24px;
                    &:first-child{
                        min-width: 180px;
                        width: 20%;
                    }
                    &:last-child{
                        width: 100px;
                        float: right;
                        text-align: right;
                    }
                    &:nth-child(2){
                        width: 35%;
                    }
                    &:nth-child(3){
                        width: 15%;
                    }
                }
            }
        }
        .hr-pagination-wrap{
            padding:8px 15px;
            background: #fff;
            text-align: right;
            .hr-pagination{
                background:none;
                a{
                    min-width: 28px;
                    text-align: center;
                }
            }
        }
    }
}

.invitation{
    width: 600px;
    .el-dialog__header{
        padding:125px 30px;
        background: url("/img/goldRecord/invite.png") no-repeat;
        background-size:100% 100%;
        position: relative;
        .el-dialog__headerbtn{
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
    .invitation-link{
        #link{
            width: 463px;
            height: 28px;
            border: 1px solid #d4d4d4;
            margin-left: 12px;
            text-indent: 8px;
            box-shadow: 0 5px 8px #ededed inset;
        }
    }
    .copy-btn{
        width: 84px;
        height: 30px;
        border: none;
        outline: none;
        margin-top: 20px;
        border-radius: 2px;
    }
}
