@charset "UTF-8";
/* CSS Document */
@import "../common/base_variable";
@import "../common/base_tool";
.header-line{
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #436378;
    position: relative;
    bottom:1px;
}
.banner{
    width: 100%;
    min-width: $g_pageMinW;
    background: url("../../img/index/banner.jpg") no-repeat;
    background-size:100% 100%;
    text-align: right;
    color: #fff;
    padding:7% 0;
    .text-strong{
        display: block;
        font-size: 42px;
    }
    .text-p{
        font-size: 22px;
        height: 41px;
        line-height: 41px;
        margin-top: 18px;
        span{
            display: inline-block;
            width: 23px;
            height: 41px;
            background: url("../../img/index/banner-span.png") no-repeat ;
            text-align: center;
        }
    }
}
.list{
    padding:60px 0;
    .item{
        width: 290px;
        float: left;
        margin-left: 80px;
        &:first-child{
            margin-left:0;
        }
        &:last-child{
            width: 260px;
            .item-con{
                border-right: none;
            }
        }
        .item-head{
            overflow: hidden;
            .item-head-img{
                width: 56px;
                height: 56px;
                border-radius: 50%;
                float: left;
            }
            .item-head-title{
                color: #343434;
                font-size: 22px;
                float: left;
                line-height: 56px;
                margin-left: 13px;
            }
        }
        .item-con{
            border-right: 1px solid #d9d9d9;
            p{
                color: #666;
                font-size: 14px;
                line-height: 33px;
                width: 100%;
                i{
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    background: #146f9b;
                    margin-right: 4px;
                    vertical-align: 3px;
                }
            }
        }
    }
}
.company{
    background: #118cd2;
    padding: 38px 0;
    min-width: $g_pageMinW;
    .hr-wrap{
        .company-list{
            margin-bottom: 44px;
            li{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                float: left;
                background: #ccc;
                margin-right:80px;
                transition: .1s;

                &:hover{
                    transform: scale(1.1);
                    transition: .1s;
                }
                &:last-child{
                    margin-right:0;
                }
            }
        }
        @at-root .message{
            text-align: center;
            .title-white{
                color: #fff;
                font-size: 20px;
            }
            .title-black{
                color: #333;
                font-size: 20px;
            }
            .text{
                line-height: 24px;
                margin-top: 16px;
            }
            a{
                width: 96px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                color: #fff;
                display: inline-block;
                background: linear-gradient(#fbb146,#f38e00);
                border-radius: 3px;
                margin-top: 14px;
                box-shadow: 0 1px 0 #fcc270 inset;
                text-shadow: 0px -1px 0px #f28623;
            }
        }
    }
}
.hr-btn-yellow{
    background: linear-gradient(#FBB144, #F38E00);
    border: 1px solid #19374f;
    color: white;
    box-shadow: 0 1px 0 #4c5f7a, 0 1px 0 #fcc270 inset;
}
#footer{
    background: linear-gradient(#2e5069,#1b3d58);
    height: 61px;
    min-width: $g_pageMinW;
    .footer-text{
        line-height: 61px;
        color: #fff;
    }
}