@charset "UTF-8";
/* CSS Document */
@import "../common/base_variable";
@import "../common/base_tool";
body{
    background-color: transparent;
}
.hr-wrap-1000{
    width: 1100px;
}
#header{
    height: 50px;
    padding: 25px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .hr-btn{
        font-weight: bold;
    }
    .hr-btn-green{
        padding: 6px 25px;
    }
    .hr-btn-default{
        background-color: transparent;
        color: white;
        border-color: transparent;
    }
}
.header-line{
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #436378;
    position: relative;
    bottom:1px;
}
.banner{
    width: 100%;
    height: 580px;
    min-width: $g_pageMinW;
    background: url("../../img/index/top-banner.jpg") center center no-repeat;
    text-align: center;
    padding-top:233px ;
    color: #fff;
    .text-strong{
        display: block;
        font-size: 42px;
    }
    .text-p{
        font-size: 24px;
        font-weight: bold;
        margin: 40px 0 80px 0;
    }
    .hr-btn{
        font-size: 18px; 
        padding: 12px 40px;
    }
}
.banner-else{
    background: url("../../img/index/middle-bg.png") center top no-repeat;
}
.middle{
    position: relative;
    padding-top: 95px;
    
    .float-tip{
        height: 470px;
        width: 400px;
        position: absolute;
        top: 140px;
        left: -238px;
        display: none;
        opacity: 0;
        background: white;
        text-align: left;
        padding: 80px 50px;
        box-shadow: -10px 0px 30px #ccc;
        .dot{
            position: absolute;
            top: 35px;
            left: 35px;
        }
        .sz-bottom{
            position: absolute;
            bottom: 25px;
            right: 35px;
        }
        p{
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }
        div{
            font-size: 16px;
            text-indent: 2em;
            line-height: 40px;
        }
    }
}
.company-list{
    p{
        font-size: 18px;
        color: #4c535a;
        margin: 85px 0 30px 0;
    }
}
.list{
    padding:145px 0 100px 0;
    .item{
        width: 325px;
        border: 1px solid $g_greyBorderColor;
        float: left;
        margin-left: 62px;
        padding: 23px 0 30px 23px;
        background-color: white;
        border-radius: 5px;
        transition: all .2s linear;
        &:first-child{
            margin-left:0;
        }
        &:hover{
            border-color: $g_greenColor;
            box-shadow: 0px 0px 16px 5px #d7e2e0;
            transform: translate3d(0, -2px, 0);
        }
        .item-con{
            p{
                color: #666;
                font-size: 14px;
                line-height: 33px;
                width: 100%;
                i{
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    background: $g_greenColor;
                    margin-right: 4px;
                    vertical-align: 3px;
                }
            }
        }
    }
}
.hr-btn-green{
}
#footer{
    background: $g_bodybgColor;
    height: 61px;
    color: #666;
    min-width: $g_pageMinW;
    .footer-text{
        line-height: 61px;
    }
}