@charset "UTF-8";
/* CSS Document */
@import "../common/base_variable";
@import "../common/base_tool";
.hr-main-page{
    padding-top: $g_headerH+10;
}
.el-input__icon{
    font-family: iconfont!important;
    font-size: 22px;
    color: #a8a8a8;
    transform: translateY(-50%);
    &.el-icon-caret-top{
        &:before{
            content: "\e600";
        }
    }
    &.el-icon-menu{
        transform: translateY(0);
        font-size: 18px;
        &:before{
            content: "\e781";
        }
    }
    &.is-reverse{
        transform: translateY(-50%) rotateZ(180deg);
    }
}
.hr-container-title{
    .hr-table-title li{
        font-weight: bold;
    }

}
.resumeManage-condition{
    border: 1px solid #d9d9d9;
    .list{
        width: 25%;
        .el-input--small .el-input__inner{
            cursor: text;
            &[readonly]{
                    cursor: pointer;
                }
            &:hover{
                border-color: #cfcfcf;
            }
        }
    }
}
.hr-resumeList-wrap{
    box-shadow: 0 2px 2px #ebebeb;
}
.resumeManage-condition{
    background-color: white;
    padding: 20px;
    .hr-search-wrap{
        position: relative;
        z-index: 1;
        width: 100%;
        border-radius: 2px;
        padding-top: $g_boxPadding;
        padding-right: 10%;
        background-color: $g_bodybgColor;
        border: 1px solid $g_greyBorderColor;
        .list{
            margin-bottom: 20px;
            padding: 0 15px;
            width: 33%;
            display: inline-block;
            vertical-align: text-bottom;
            color: #999;
            .title{
                font-weight: bold;
                margin-bottom: 5px;
                display: none;
            }
            .el-input__inner{
                height: 32px;
                font-size: 12px;
                border: 1px solid #d4d4d4;
                &[readonly]{
                    cursor: pointer;
                }
            }

            .icon-search{
                display: inline-block;
                width: 14px;
                height: 15px;
                background: url("../../img/search/search-btn.png") no-repeat;
                vertical-align: -2px;
                margin-right: 5px;
            }
        }
    }
    .el-input--small .el-input__inner{
    }
    .el-input__inner{
        &:hover{
            border-color: #8391a5;
        }
    }
    .el-input--small .el-input__inner {
        cursor: text;
    }
    .icon-triangle-copy{
        display: inline-block;
        width: 18px;
        height: 18px;
        font-size: 21px;
        transition: .3s;
        transform:translateY(9%);
        &.up{
            transform: translateY(35%) rotateZ(180deg);
            transition: .3s;
        }
    }
}
.el-input__icon{
    font-family: iconfont!important;
    font-size: 22px;
    transform: translateY(-50%);
    color: #a8a8a8;
    &.el-icon-menu{
        transform: translateY(0);
        font-size: 18px;
        &:before{
            content: "\e781";
        }
    }
    &.is-reverse{
        transform: translateY(-50%) rotateZ(180deg);
    }
    &.el-icon-caret-top{
        &:before{
            content: "\e600";
        }
    }

}
.resumeManage-page-wrap{
    border: 1px solid $g_greyBorderColor;
    border-top: 0;
    padding: 5px 18px;
    >div:first-child{
        margin-top:8px;

    }

    .hr-pagination-wrap{
        display: inline-block;
        padding-right:0;

        .hr-pagination{
            background-color: $g_lightGreyColor;
            
            .NaN{
                //background-color: $g_lightGreyColor;
            }
        }
    }
    .hr-btn{
        &:hover{
            background: $g_mainColor;
            border-color: $g_mainColor;
            color: #fff;
            .icon-download{
                background: url("../../img/search/icon-search.png") -8px 27px;
            }
            .icon-view{
                background: url("../../img/search/icon-search.png") -9px 66px;
            }
            .icon-temporary{
                background: url("../../img/search/icon-search.png") -9px 118px;
            }

        }
        i{
            display: inline-block;
            width: 18px;
            height: 14px;
            &.icon-download{
                background: url("../../img/search/icon-search.png") 26px 27px;
            }
            &.icon-view{
                background: url("../../img/search/icon-search.png") 25px 66px;
            }
            &.icon-temporary{
                background: url("../../img/search/icon-search.png") 25px 118px;
            }
        }
    }
}
.resumeManage-showCondition{
    padding: 10px;
    border: 1px solid $g_greyBorderColor;
    border-bottom: 0;
    background-color: white;
    
    .conditionShowStr{
        max-width: 99%;
        overflow: hidden;
        padding-left: 175px;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: absolute;
        left: 0;
        top: 11px; 
    }
}

.upselect{
    background-color: $g_blueColor;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 11px;
    
    &.email{
        background-color: transparent;
        z-index: 2;
        top: 3px;
    }
    
    i {
        position: absolute;
        top: 7px;
        right: 4px;
        @include triangle(bottom, 4px, #fff );
        
        &.up{
            border-top: 0;
            top: 6px;
            @include triangle(top, 4px, #fff );
        }
    }
}
.detail-list{
    td{
        background-color: #F6FBFF !important;
    }
}
.downloaddia .el-dialog{
    width: 400px;
}
