@charset "utf-8";
/* CSS Document */
@import "../common/base_variable";
@import "../common/base_tool";

#app{
    min-width: 1200px;
}
.sign-wrap {
    min-height: 100%;
    background:#f2f3f5 url(/img/sigin/bg-sign.jpg) 48% 50% no-repeat;
//  background-size: cover;
}
.sign-form-wrap{
    width: 440px;
    color: #888;
    position: absolute;
    left: 50%;
    top: 50%; 
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px #e4e6f2;
    .sign-form{
        background-color: #fff;
        position: relative;
        padding-top:96px;
        .sign-logo {
            position: absolute;
            top: -80px;
            left: 50%;
            margin-left: -80px;
        }
        .sign-title{
            color: #333;
            text-align: center;
            font-size: 20px;
            display: block;
            font-weight: bold;
        }
        .sign-con{
            padding: 30px 25px;
            .input-wrap{
                input[type='text'],input[type='password']{
                    width: 100%;
                    padding: 8px 0;
                    color: #333; 
                    text-indent: 12px;
                    border-radius: 3px;
                    border:1px solid #dbdbdb;
                }
                .err{
                    color: red;
                    line-height: 20px;
                    height: 20px;
                }
                .input-wrap-email,.input-wrap-phone{
                    width: 180px;
                }
                &.input-wrap-code{ 
                    .el-input{
                        width: 255px;
                        margin-right: 25px;
                    }
                    .codeBtn{ 
                        height: 34px;
                        width: 100px;
                        font-size: 14px;
                        padding: 6px 5px;
                        cursor: pointer;
                        &.codeBtning{
                            background: #ccc;
                            border: 1px solid #ccc;
                            box-shadow: 0 1px 0 #ccc inset;
                            cursor: no-drop;
                            text-shadow: none;
                        }
                    }
                }
                &.input-verCode{
                    .el-input{
                        width: 180px;
                        margin-right: 28px;
                    }
                    img{

                        vertical-align: middle;
                    }
                    a{
                        color: $g_blueColor; 
                        margin-left: 10px;
                    }
                }
                .el-input__inner{
                    height: 37px;
                    background: #f9f9f9;
                }
            }
            .sign-btn{
                button{
                    width: 100%;
                    height: 43px;
                    font-size: 16px; 
                    cursor: pointer;
                    font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",SimHei,Arial,sans-serif;
                    outline: none;
                    border:1px solid $g_greenBorderColor;
                    background: linear-gradient(#15c4a5,#12bb9e);
                    &:hover{
                        background: #26d1b3;
                    }
                }
            } 
        }
        .sign-footer{
            background-color: #f9faff;
            padding: 13px 40px;
            color: #555;
            text-align: center;
            a{
                color: #0088ed;
            }
        }
    }
}
@media (min-width: 1921px) {
    .sign-wrap {
        background-size: cover;
    }
}