@charset "utf-8";
/* CSS Document */
@import "../common/base_variable";
@import "../common/base_tool";

#app {
    min-width: $g_pageMinW;
}

.hr-main-page {
    .hr-user {
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        padding: 35px;
        background: #fff;
        box-shadow: 0 2px 2px #ebebeb;
        .hr-user-title {
            font-size: 20px;
        }
        .hr-head-msg {
            padding: 20px 0;
        }
        .hr-user-list {
            @at-root .hr-user-item {
                border-top: 1px solid #d9d9d9;
                margin-bottom: 15px;
                .hr-item-title {
                    margin: 20px 0;
                    color: #484848;
                }
                .el-button--default{
                    &:hover,&:focus{
                        color: $g_mainColor;
                        border-color: $g_mainColor;

                    }
                }
                .btn-edit {
                    border: 1px solid #d9d9d9;
                    border-radius: 2px;
                    padding: 10px 20px;
                    background: #fff;
                    outline: none;
                    cursor: pointer;
                    &:hover{
                        color: #fff;
                        background: $g_mainColor;
                        border-color: $g_mainColor;
                    }
                }

                .user-item {
                    border: 1px solid #dde1e4;
                    border-radius: 2px;
                    padding: 20px 18px;
                    margin-top: 7px;
                    background: #f4f4f4;

                    .from-wrap {
                        width: 480px;
                        .el-form-item__label {
                            color: #333;
                        }
                        .avatar {
                            .el-form-item__label {
                                margin-top: 30px;
                            }
                            .user-avatar-img{
                                position: relative;
                                .avatar-msg{
                                    position: absolute;
                                    color: #999;
                                    font-size: 12px;
                                    margin-left: 10px;
                                    bottom:0;
                                }
                            }
                        }
                        #avatar {
                            height: 102px;
                            width: 102px;
                            text-align: center;
                            background: #fff;
                            display: inline-block;
                            border: 1px solid #cfcfcf;
                            .webuploader-pick {
                                width: 100px;
                                height: 100px;
                                display: flex;
                                justify-content: center;
                                img {
                                    max-width: 100px;
                                    max-height: 100px;
                                    justify-content: center;
                                    align-self: center;
                                }
                            }

                        }
                        .el-button {
                            border-radius: 2px;
                            &.hr-btn-green:focus{
                                color: #fff;
                            }
                        }
                        .hr-btn-green {
                            border: none;
                            margin-left: 20px;
                            &:hover {
                                border-color: #26d1b3;
                                color: #fff;
                            }
                        }
                    }
                }

                .user-item-title {
                    margin-bottom: 20px;
                }

                .email-msg {
                    background: $g_mainColor;
                    padding: 10px 16px;
                    border-radius: 10px;
                    border-bottom-left-radius: 0;
                    color: #fff;
                    box-shadow: 0 1px 3px #d7d7d7;
                }

                .imgCode {
                    width: 245px;
                }

                .draw-image {
                    float: right;
                    margin-top: 3px;
                }

                .item-auth {
                    overflow: hidden;
                    button {
                        border: 1px solid #d9d9d9;
                        border-radius: 2px;
                        padding: 10px 13px;
                        float: left;
                        margin-right: 8px;
                        margin-bottom: 8px;
                        outline: none;
                        background: linear-gradient(#fff, #f9f9f9);
                        &.active {
                            cursor: pointer;
                            span {
                                color: $g_blueColor;
                            }
                            &:hover{
                                background: $g_mainColor;
                                color: #fff;
                                border-color: #fff;
                                span {
                                    color: #fff;
                                }
                            }
                        }
                        span {
                            color: #a0a0a0;
                            font-size: 12px;
                        }

                    }
                }
            }
        }
    }
}

.bind-wrap {
    .el-dialog--small {
        width: 450px;
    }
    .el-dialog__header {
        display: none;
    }
    .el-dialog__body {
        padding: 30px 40px 60px;
        .bind-content-top {
            text-align: center;
            position: relative;
            margin-bottom: 40px;
            padding-bottom: 30px;
            &:after {
                content: '';
                position: absolute;
                bottom: -20px;
                left: 0;
                width: 100%;
                background: url(/img/user/ico-shadow.png);
                height: 18px;
            }
        }
        .form-content {
            padding: 0 20px;
            .el-input-group {
                box-shadow: inset 0 0 12px 0px #ddd;
                border-radius: 4px;
                .el-input-group__prepend, .el-input__inner {
                    border-color: #E5E5E5;
                    background-color: transparent;
                    height: 40px;
                }
                .el-input__inner {
                    padding: 7.5px 10px;
                }
                .el-input-group__prepend {
                    color: #999;
                    line-height: 1;
                    width: 40px;
                    padding: 7.5px 9px;
                    text-align: center;
                }
            }
        }
    }
    &.dialog-qc {
        .el-form-item__content {
            .el-button--primary {
                background-color: #4c89fb;
                border-color: #4c89fb;
            }
        }
    }
    &.dialog-zl {
        .el-form-item__content {
            .el-button--primary {
                background: linear-gradient(to top, #fa7100, #fa9e00);
                border: 0;
                height: 36px;
                &.tongcheng {
                    background: linear-gradient(#ff866b, #fe552c);
                }
                &.liepin {
                    background: linear-gradient(#fbb146, #f28f00);
                }
                &.lagou {
                    background: #00b38b;
                }
                &.ganji {
                    background: #39bc30;
                }
                &.yingcai {
                    background: #e94141;
                }
            }

        }
    }
}

.webuploader-element-invisible {
    display: none;
}


